<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemeRaj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3714C7D41D18E9780019AE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3714C7E81D18E9790019AE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3714C7F31D18E9790019AE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
